.product-container {
  padding: 20px;
  .add-product {
    margin-top: 2rem;
    .top {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  
  }
  .product-table {
    background-color:rgb(215, 215, 215);
    margin-top: 20px;
    padding: 0  20px;
    table {
      tr {
       margin: 0;
       th{
        text-transform:capitalize;
       }
        td {
          border-bottom: 1px solid black;
          text-align: center;
          .delete{
            color: red;
            cursor: pointer;
            font-size: 25px;
          }
          .update{
            cursor: pointer;
            font-size: 25px;
          }
          .check{
            color: green;
          }
        }
        th {
          border-bottom: 1px solid black;
          padding: 8px;
          width: 200px;
        }
      }
    }
  }
}
